@font-face {
    font-family: "hie";
    src: url("./MERO_HIE.TTF");
   }

body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

#menu{
    display: flex;
    background-image: url('../Ressources/menu/bg.jpg');
}

#menu_left, #menu_right{
    flex: 1 1;
}

#myCanvas{
    position: absolute;
}

#momie_menu{
    height: 100vh;
    width: auto;
    position: relative;
    flex: 1.5 0;
}

#momie_menu .corp{
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 5vh;
}

#momie_menu .piece{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    margin: auto;
    transform: scale(1.2);
    opacity: 0;
    transition: 1s;
}

#momie_menu .piece.active{
    transform: scale(1);
    opacity: 1;
}

.lvl_btn{
    background-color: #E8C798;
    color: #051028;

    border: solid 4px #051028;
    padding: 15px;
    
    font-size: 30px;
    font-family: hie;

    margin: auto;
    margin-top: 20px;
}

.lvl_btn:hover{
    cursor: pointer;
}

.interaction-div{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
   /*background-color: rgba(0, 0, 200, 0.6);*/
}