@font-face {
    font-family: "hie";
    src: url("./font/MERO_HIE.TTF");
}

@font-face {
    font-family: barrio;
    src: url("./font/Barrio-Regular.ttf");
}

body{
    margin: 0;
    
    overflow-x: hidden;
    overflow: hidden;

    font-family: 'Permanent Marker', cursive;
}

#menu{
    opacity: 0;
    z-index: 10;
    position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     overflow: hidden;

    display: flex;
    transition: all 0.5s;
   /* background-image: url('../Ressources/menu/bg.jpg');*/

}

#menu_left, #menu_right{
    flex: 1 1;
    margin-top: 20vh;
    height: 80vh;
    padding: 0px 50px;
}

#myCanvas{
    position: absolute;
    pointer-events: none;

    z-index: 10000;
}

#curtain{
    pointer-events: none;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    text-align: center;
}

#logo_canvas{
    width: 6vw;
    position: fixed;
    z-index: 15000;
    top: 1.2vh;
    left: 47vw;
    display: none;
    cursor: pointer;
}

#curtain h2{
    text-transform:uppercase;
    letter-spacing: 0.3em;
    font-size: 50px;
    margin: 0;
    opacity: 0;
}

#curtain h3{
    margin: 0;
    margin-top: 30px;
    font-size: 100px;
    opacity: 0;
}

#momie_menu{
    margin-top: 13vh;
    height: 87vh;
    width: auto;
    position: relative;
    flex: 0.5 0;
}

#momie_menu .corp{
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 5vh;
}

#momie_menu .piece{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    margin: auto;
    transform: scale(1.2);
    opacity: 0;
    transition: 1s;
}

#momie_menu .piece.active{
    transform: scale(1);
    opacity: 1;
}

.lvl_btn{
    background-image: url("../Ressources/landing-page/case.png");
    background-size: 100% 100%;
    color: #051028;
    padding: 15px;

    width: 300px;
    height: 90px;
    
    line-height: 42px;
    font-family: hie;
    text-align: center;

    margin: auto;
    margin-top: 20%;
}

.lvl_btn.unlock{
    font-size: 23px;
    font-family: 'Permanent Marker', cursive;
}

#menu_left p:first-child{
    margin-top: 0px;
}
#menu_right p:nth-child(3){
    margin-top: 20%;
}

.lvl_btn:hover{
    cursor: not-allowed;
}

.lvl_btn.unlock:hover{
    cursor: pointer;
}

.interaction-div{
    position: absolute;
    z-index: 14000;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
   /*background-color: rgba(0, 0, 200, 0.6);*/
}

.text-apparition{
    z-index: 100000000;

    position: fixed;
    width: fit-content;
    font-size: 1.3vw;
    color: black;
    text-shadow: white 0px 0px 10px;
    letter-spacing: 0.1em;
    z-index: 15000;
}

.text-apparition span{
    opacity: 0;
}

.text-apparition .bold{
    font-weight: bold;
    font-size: 1.5vw;
    text-transform: uppercase;
}

/******************
 ** LANDING PAGE **
 ******************/

 #main{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }

#explorer{
     height: 99px;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 105px;
 }
#explorer img{
     position: absolute;
     margin: auto;
     left: 0;
    right: 0;
}
#unhover-button{
    cursor: pointer;
}

#main .logo{
    height: 120px;
    display: block;
    margin: auto;
    margin-top: 100px;
    transition: all 1s;
}

#main .logo.little{
    height: 70px;
    margin-top: 20px;
}



#main #sub-title{
    text-align: center;
}

.halo{
    position: absolute;
    top: -20px;
    bottom: -20px;
    background-size: 100% 100%;
    width: 786px;
    z-index: -1;
}
.halo.left{
    background-image: url("../Ressources/landing-page/halo1.png");
    left: -768px;
}
.halo.right{
    background-image: url("../Ressources/landing-page/halo2.png");
    right: -768px;
}
