body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    margin: 0;

    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.interaction-div{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 200, 0.6);
}

.text-apparition{
    position: fixed;
}

.text-apparition span{
    opacity: 0;
}

.text-apparition .bold{
    font-weight: bold;
}